# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.vscode/
android/app/google-services.json
android/local.properties

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains configuration files for the Visual Studio Code
# editor. If you choose to share these files with your team, you can remove
# the following line.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
ios/Flutter/Secrets.xcconfig
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!/packages/*/build/

# macOS
.DS_Store

.vscode/ 
